@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.main{
    background-image: url(items/img/bg.jpg);
    height: 644px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1240px, 100vw);
    position: relative;
}

.main .box{
    height: 644px;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    font-family: 'Poppins', sans-serif;;
    color: white;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    position: relative;
    gap: 23px;
    padding:0 30px;
}

.hero>:nth-child(1){
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.hero>:nth-child(2){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.hero>:nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation{
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn{
    padding: 3px 24px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red{
    background-color: red;
    color: white;
}

.btn-red-sn{
    background-color: red;
    color: white;
}

.main input{
    padding: 7px 101px 8px 14px;
    border-radius: 4px;
    font-weight: 900;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    flex-direction: column;
}

.secImg{
    position: relative;
}

.secImg img{
    width: 555px;
    top: -40px;
    position: absolute;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 44px;
    right: -550px;
    width: 480px;
}

section.first > :first-child{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
    top: 210px;
    left: -400px;
}

section.first > :nth-child(2){
    font-size: 24px;
    position: relative;
    left: -155px;
    top: 230px;
}
